/* ESTILOS PARA EL FORMULARIO */

form { /*selector de la etiqueta del formulario*/
    max-width: 400px; /*Ancho maximo*/
    margin: 0 auto; /*centrar el formulario*/
    padding: 20px;
    background-color: #90f4f0;
    border: 3px solid #ccc;
    border-radius: 8px;
}

form label { /*selector de la etiqueta label*/
    
    display: block; /*hacer que los labels se muestren en bloque*/
    margin-bottom: 5px; /*espacio debajo de cada label*/
    font-weight: bold; /*negrita en los labels*/
}

form input[type="text"],
form input[type="email"],
form input[type="password"], /*selector de los inputs de tipo texto, email y password*/
form textarea { /*selector del textarea*/
    width: 100%; /*ancho completo*/
    padding: 8px; /*relleno dentro de los inputs y textarea*/
    margin-bottom: 15px; /*espacio debajo de cada input y textarea*/
    border: 1px solid #2209e1;
    border-radius: 4px;
    box-sizing: border-box; /*para que el padding no afecte al ancho total*/
}

form input[type="submit"]{ /*selector del boton de envio*/
    background-color: #55f8b7; /*color de fondo*/
    color: rgb(226, 9, 9); /*color del texto*/
    padding: 10px 15px; /*relleno dentro del boton*/
    border: none; /*sin borde*/
    border-radius: 4px; /*bordes redondeados*/
    cursor: pointer; /*cambiar el cursor al pasar sobre el boton*/
}